{% autoescape off %}
Здравствуйте,

Вы получили это письмо, потому что запросили сброс пароля для вашей учетной записи на сайте {{ site_name }}.

Пожалуйста, перейдите по следующей ссылке и выберите новый пароль:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Ваше имя пользователя: {{ user.get_username }}

Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо.

Спасибо за использование нашего сайта!

Команда {{ site_name }}
{% endautoescape %} 