{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Восстановление пароля</title>
  <link rel="stylesheet" href="{% static 'users/css/login.css' %}" />
</head>
<body>
<div class="login-wrapper">
  <div class="login-container">
    <div class="avatar-top">
      <img src="{% static 'users/img/bulldog.png' %}" alt="Аватар" />
    </div>

    <h2>Восстановление пароля</h2>
    <p class="reset-text">Введите ваш email для получения инструкций по восстановлению пароля</p>

    {% if messages %}
      {% for message in messages %}
        <div class="{% if message.tags %}{{ message.tags }}{% endif %}-message">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <form class="login-form" method="post">
      {% csrf_token %}
      <div class="input-group">
        <input type="email" name="email" placeholder="Ваш email" required />
      </div>
      <button type="submit" class="login-btn">Отправить</button>
      <div class="form-footer">
        <a href="{% url 'login' %}" class="register-link">Вернуться на страницу входа</a>
      </div>
    </form>
  </div>
</div>
</body>
</html> 